html, body {
    padding: 0;
    margin: 0;
    background-color: #3d3b35;
    color: #3a3a3a;
    --toastify-toast-width: fit-content;
}

.main-container, .calendar-container, .editor-container {
    box-sizing: border-box;
    margin: 0 auto;
}

.main-container {
    padding: 0 1rem;
    max-width: 800px;
    display: grid;
}

.calendar-container {
    padding: 0;
    max-width: 1200px;
    display: grid;
}

.editor-container {
    padding: 0 1rem;
    max-width: 1200px;
}

.editor-container .ck-powered-by {
    display: none;
}

@media print {
    header, footer {
        display: none !important;
    }

    .editor-container {
        padding: 0 !important;
    }

    .inner-editor-container {
        display: contents !important;
    }

    .ck-editor__editable {
        padding: 0 !important;
        box-shadow: none !important;
        border: none !important;
    }

    .ck-toolbar {
        display: none !important;
    }
}
